<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&amp;subset=latin-ext');

    body {
      font-family: 'Montserrat', sans-serif;
      font-display: fallback;
      line-height: 1.3;
    }

    .table {
      width: 90%;
      max-width: 650px;
      border: 0;
    }
  </style>
</head>
<body>

  <center>
    <table class="table">
      <tr>
        <td>

          <h1>e-Gryzonie.pl - reset hasła</h1>
          <p>Witaj! Doszły nas słuchy, że zapomniałeś swojego hasła do konta w serwisie <b>e-Gryzonie.pl</b>.</p>
          <p>Aby zresetować hasło, kliknij w ten link: <a href="{{frontUrl}}/uzytkownik/przypomnij-haslo?token={{token}}" target="_blank">resetuję hasło!</a></p>
          <p>Powodzenia!</p>

        </td>
      </tr>
    </table>
  </center>
  
</body>
</html>